h1 {
  outline: 1px solid yellow;
  text-align: center;
}
.caja {
  /* outline: 1px solid red, usar cuando quiero saber si la etiueta es de tipo inline o block*/
  width: 420px;
  padding: 15px;
  border: 1px solid #999;
  box-sizing: border-box;
  float: left;
  margin-left: 8px;
}
img {
  outline: 1px solid blue;
  max-width: 100%;
}
p {
outline: 1px solid orange;
}
